@model ScramblerPresentation.Models.InternalClass

<div style="border:1px solid black; width:325px; padding: 15px; background-color:#CEE;">
    <p style="font-weight: bold;">Id:</p>
    <p>@Model.Id</p>
    <p style="font-weight: bold;">Name:</p>
    <p>Vice President @Model.Name</p>
    <p style="font-weight: bold;">Joined:</p>
    <p>@Model.TimeAdded</p>
</div>
