@model ExternalLibrary.ExternalClass

<div style="width:250px; border:1px solid black; padding:15px; background-color:#EFF;">
    <p><span style="font-weight:bold;">Initial: </span><span style="float:right;">@Model.Initial</span></p>
    <p><span style="font-weight:bold;">Secondary: </span><span style="float:right;">@Model.Secondary</span></p>
</div>
