@model ScramblerPresentation.Models.InternalClass

<div style="border:1px solid black; width:500px; padding: 15px; background-color:#DFF;">
    <p>
        <span style="font-weight: bold;">Id:</span>
        <span style="float:right;">@Model.Id</span>
    </p>
    <p>
        <span style="font-weight: bold;">Name:</span>
        <span style="float:right;">President @Model.Name</span>
    </p>
    <p>
        <span style="font-weight: bold;">Joined:</span>
        <span style="float:right;">@Model.TimeAdded</span>
    </p>
</div>
